<nav id="topNav" class="navbar fixed-top navbar-toggleable-sm">
    <button class="navbar-toggler navbar-toggler-right" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">CAT IMG</a>

    <div class="collapse navbar-collapse" [collapse]="!isCollapsed">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Hem<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Kontakta</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>